@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=DynaPuff:wght@500&family=Kanit:wght@500&family=Raleway:wght@500;700&family=Ubuntu&display=swap');


.App {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid grey;
    margin: 50px 30px;
    padding: 25px 15px;
}

.to-do-container{
    display: flex;
    flex-direction: column;
}

.to-do-container ul li {
    width: 80%;
    overflow-wrap: break-word;
    list-style-type: "📌";
    cursor: pointer;
}

.to-do-container button {
    margin-top: 10px;
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}

.item {
    display: flex;   
    justify-content: space-between;
    align-items: center;
}

.trash {
    cursor: pointer;
}